img {
   height: 110px;
   width: 70px;
   padding: 3px;
}

button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
 }
 label{
    display: block;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
 }
 form {
    border: black;
    border-radius: 1px;
 }


 #pyr {
   /*display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;*/
   width: 600px;
   height: 800px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
 }
 
 /*#pyr p {
   border: blue;
   border-style: solid;
   margin: auto;
   text-align: center;
   width: fit-content;
 }
#row{
   position: absolute;
   border: yellow;
   border-style: solid;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }
 .div{
   margin-left: auto;
   margin-right: auto;
 }*/
 .imgContainer{
   text-align: center;
 }