img {
   height: 145px;
   width: 100px;
   padding: 3px;
}

button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
 }
 label{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
 }
 form {
    border: black;
    border-radius: 1px;
 }


 #pyr {
   display: block;
   width: 800px;
   height: 1125px;
   margin-left: auto;
   margin-right: auto;
   border: green;
   border-style: solid;
   position: relative;
 }
 
 #pyr p {
   border: blue;
   border-style: solid;
   margin: auto;
   text-align: center;
 }
 